body { /* sets background image */
  background-image: url('diceimages/background.jpg');
}

table { /* centers the table element on the webpage, and centers elements inside of the table */
  width: 50%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

div { /* centers items in the div element */
  text-align: center;
}

a { /* text centered, font size mirrors the properties of the h1 element */
  text-align: center;
  font-size: 50px;
  margin: 20px;
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  color: #000000;
}

form { /* background set, width and border added */
  background-color: #ffffff;
  margin: auto;
  width: 150px;
  border: 5px #000000;
}

button { /* button dimensions established, font customization */
  width: 200px;
  height: 50px;
  font-family: 'Courier';
  font-size: xx-large;
  font-weight: bold;
}
