html {
	background: url(Eddahh.github.io/top5.jpg) no-repeat center center fixed;
	background-size: 100% 100%;
}

body {
	font-family: "Courier";
	color:#003366;
}

h1 {
	font-size: 1.3em;
	text-align:center;
}

table {
	margin-left:auto;
	margin-right:auto;
	text-align:left;
	border: 1.2em solid #ffffff;
	border-width: 1px 1px 1px 1px;
	border-collapse: collapse;
}

td {
	border: 1px solid #ffffff;
	text-align:center; 
}

th {
	text-align:center;
	color:#ffffff;
	background-color:#003366;
}

tr {
	color:#000000;
	background-color:#ffffff;
	border: 1.2em solid #000000;
}
